# Conda
env/
myenv/
conda-meta/
conda-env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.ipynb_checkpoints
*.pth

# Environment variables
.env
.env.local
.env.*.local

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Folder
images/
masks/
runs/